/* solution */
.solution {
    background-color: var(--accent-color);
}

.solution__container {
    row-gap: 2rem;

}

.solution__content {
    padding: 1.5rem .5rem;
    background: var(--first-color);
    border-radius: .3rem ;
    text-align: center;
    height: 180px;

    transition: 300ms;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 5px 4px rgba(0,0,0, .4);
}

.solution__content:hover {
    bottom: .3rem;
    border-bottom: 4px solid var(--sub-color);
}

.solution__icon {
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--accent-color);
    color: var(--first-color);
    border-radius: 30%;
    margin-bottom: var(--mb-2);
}

.solution__title {
    font-size: 1.25rem;
    color: var(--accent-color);
    margin-bottom: var(--mb-1);
}

.solution__description {
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
}


/* Team */
.team__container {
    align-items: center;

}

.team__content {
    margin-bottom: var(--mb-5);

}

.team__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: max-content;
    text-align: center;

    background-color: var(--first-color);

    padding-top: 4rem;
    margin-top: var(--mb-5);

    border-radius: .3rem;
    border-bottom: 2px solid var(--accent-color);

    transition: 300ms;
}

.team__card:hover {
    box-shadow: 3px 3px 3px 3px rgba(0,0,0, .3);
}

.team__img {
    padding-top: 1.3rem;
    padding-left: .8rem;

    width: 160px;
    height: 160px;

    background-color: var(--accent-color);

    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);

    box-shadow: 3px 3px 3px 3px rgba(0,0,0, .3);

}

.team__img img {
    margin-left: -9px;
}

.team__title {
    font-size: var(--h3-font-size);
    color: var(--accent-color);
    font-weight: var(--font-semi-bold);
}

.team__title span {
    font-size: var(--small-font-size);
    color: var(--sub-color);
    margin-bottom: var(--mb-3);
}

.team__social {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.team__social-link {
    display: inline-flex;

    font-size: 1.1rem;
    border-radius: 50%;

    padding: .4rem;
    margin: 0 var(--mb-1);
    transform: .3rem;
    transition: 300ms;

    color: var(--sub-color);
}

.team__social-link:hover {
    background-color: var(--accent-color);
    color: var(--first-color);
}

/* contact */
.contact {
    background-color: var(--accent-color);

}
.contact__container {
    padding-left: var(--mb-5);
    padding-right: var(--mb-5);
    margin-top: va(--mb-5);
}

.contact-title {
    color: var(--bg-color);
}

.contact-subtlite {
    margin-bottom: var(--mb-5);
}

.contact__input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;

    box-shadow: 3px 3px 3px 3px rgba(0,0,0, .3);
    background-color: var(--first-color);
    color: var(--sub-color);

    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;

}

.contact::placeholder {
    color: var(--sub-color);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.content__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__button {
    outline: none;
    border: none;
    border-radius: .3rem;

    width: 90%;

    font-family: var(--body-font);
    font-size: var(--normal-font-size);

    cursor: pointer;

    background-color: var(--first-color);
    color: var(--sub-color);
    padding: 1rem .7rem;

    transition: 300ms;
}

.contact__button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}
    